@using DealerMarket.Core.Application.ViewModels.Ads
@model AdsViewModels

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row mt-4 mb-4">

        <div class="col-4">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="@Model.ImageURL" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="@Model.ImageURL" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="@Model.ImageURL" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="col-8">
            <div class="card" style="border-radius: 1rem;">
                <div class="card-header bg-black text-white">
                    <h3 class="text-center fst-italic">@Model.Name</h3>
                </div>
                <div class="card-body">
                    <h3 class="text-center fst-italic">Article information</h3>
                    <hr />
                    <div class="size fst-italic">
                        <p class="text-center">@Model.Description</p>
                    </div>
                    <div class="d-flex justify-content-around mt-4 mb-4 fst-italic">
                        <p><h5 class="fw-bold">Category:</h5> @Model.CategoryName</p>
                        <p><h5 class="fw-bold">Price:</h5> $@Model.Price</p>
                        <p><h5 class="fw-bold">Published:</h5> @Model.AdsCreated</p>
                    </div>
                    <hr />
                    <h3 class="text-center fst-italic">Seller information</h3>
                    <hr />
                    <div class="d-flex justify-content-around fst-italic mb-4 mt-4">
                        <p><h5 class="fw-bold">Name:</h5> @Model.AdsUserName</p>
                        <p><h5 class="fw-bold">Email:</h5> @Model.AdsUserEmail</p>
                        <p><h5 class="fw-bold">Phone Number:</h5>  @Model.AdsUserPhone</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <a href="#" class="btn btn-outline-primary">Agregar al carrito</a>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">Back</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

